<h1>Cycling dictionary</h1>
  
  
  <ul>
    <% Term.order(:term).each do |term| %>
      <li>
        <b><%=term.term %></b>
        <i><%=term.part_of_speech %></i>
        <p><%=term.definition %></p>
    <% end %>
  </ul>
    
<!-- TODO: fill this out -->
