html {
  background-color: #eee;
}
body {
  margin: 20px auto;
  background-color: white;
  border: 3px #ccc solid;
  padding: 30px;
  font-family: bigelow rules;
  font-size: 16pt;
}

@font-face {
  font-family: "bigelow rules";
  src: url("/fonts/bigelowrules-regular.ttf")
  }

h1 {
  font-family: bigelow rules;
  }