<h1>Example Contact Form</h1>
<br>
<lable><b>From</b></lable>
<br>
<input size=40">
<br>
<br>
<lable><b>Subject</b></lable>
<br>
<input size=40">
<br>
<br>
<lable><b>Body</b></lable>
<br>
<textarea rows=4" cols="50">
</textarea>
<br>
<br>
<button>Send</button>


<!-- TODO -->
