<h1>Example contact form</h1>
<br>
<lable><b>From</b></lable>
<br>
<input size=20">
<br>
<br>
<lable><b>Subject</b></lable>
<br>
<input size=20">
<br>
<br>
<lable><b>Body</b></lable>
<br>
<textarea rows=2" cols="20">
</textarea>
<br>
<br>
<button>Send</button>


<!-- TODO -->
