<h1>Example Login Screen</h1>
<br>
<table border="1">
<tr>
<th><b>E-Mail Address</b></th>
<th><input size="20"></th>
</tr>
<tr>
<td><b>Password</b></td>
<td><input size="20"></th>
</tr>
<tr>
<td> </td>
<td><button>Login</button></td>
</tr>
</table>

<!-- TODO -->
