<h1>Example of Nested Lists</h1>

<ul>
<li><b>Fruits</b></li>
  <ul>
  <li>Apples</li>
  <li>Oranges</li>
  <li>Pears</li>
  </ul>
<br>
<li><b>Vegelables</b></li>
  <ul>
  <li>Broccoli</li>
  <li>Peas</li>
  <li>Carrots</li>
  </ul>



<!-- TODO -->
