<p class= "lineone">
  White text on a black background
</p>
<p class= "border">
  Text with a thick border and some padding around it
</p>
<p class= "smalltext">
  Small text in a narrow box that's indented
</p>
<p class= "thinboarder">
  Text with a thin border and lots of room around it
</p>

<p class= "centered">
  Text in a box that's centered
</p>
<p class= "glow">
  Text with a blue glow around it and its box
</p>
